/*
ENG :

Project Summary: Mobile application to read Turkish translated japan mangas.

Technologies used in this project: PHP, MySQLi, Apache Cordova, HTML5, CSS3, JavaScript, jQuery Mobile

Google Play Store Link of App: https://play.google.com/store/apps/details?id=io.ikumyo.mangatrkye 
____________________________________________________________________________________________________________________

TUR :

Proje Özeti: Japon mangalarının Türkçe çevirilerinin bulunduğu Türkçe mobil manga okuma uygulaması.

Uygulamada Kullanılan Teknolojiler: 		
PHP, MySQLi, Apache Cordova, HTML5, CSS3, JavaScript, jQuery Mobile

Uygulamanın Google Play Store Adresi:
https://play.google.com/store/apps/details?id=io.ikumyo.mangatrkye
*/
